.my-border {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    margin: 0.5rem;
}

.underline {
    height: 1px;
    width: 25%;
    background-color: black;
}

.heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

#hero-section {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;

    grid-template-areas:
    "navbar",
    "panels";
}

#navbar {
    grid-area: navbar;
}

#panels {
    grid-area: panels;
}

#my-name {
    grid-area: name;
}

#all-nav-links {
    grid-area: nav;
    width: max-content;
}

#side-panel {
    grid-area: side;
    width: min-content;
}

#outlet-panel {
    grid-area: out;
}

@media (400px <= width <= 1000px) {
    #navbar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #panels {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    
}

@media (width < 400px){
    #navbar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #panels {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}





/* old implementation related */

#bento_box {
    padding: 0rem 0.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(7, 1fr);

    grid-template-areas:
        "ai ai ts ts ts work work"
        "ai ai hero hero hero skill skill"
        "ai ai hero hero hero skill skill"
        "extra extra extra extra extra skill skill";
}

#ai {
    grid-area: ai;
    border: 1px solid white;
    border-radius: 0.5rem;
    background: rgb(211, 253, 166);
    background: linear-gradient(90deg, 
        rgba(159, 221, 140, 0.901) 0%, 
        rgba(208, 235, 200, 0.901) 50%,
        rgba(226, 244, 220, 0.901) 100%);
}

#ts {
    grid-area: ts;
    border: 1px solid white;
    border-radius: 0.5rem;
    background: rgb(211, 253, 166);
    background: linear-gradient(90deg, 
        rgba(159, 221, 140, 0.901) 0%, 
        rgba(208, 235, 200, 0.901) 50%,
        rgba(226, 244, 220, 0.901) 100%);
}

#work {
    grid-area: work;
    border: 1px solid white;
    border-radius: 0.5rem;
    background: rgb(211, 253, 166);
    background: linear-gradient(90deg, 
        rgba(159, 221, 140, 0.901) 0%, 
        rgba(208, 235, 200, 0.901) 50%,
        rgba(226, 244, 220, 0.901) 100%);
}

#hero {
    grid-area: hero;
    border: 1px solid white;
    border-radius: 0.5rem;
    background: rgb(211, 253, 166);
    background: linear-gradient(90deg, 
        rgba(159, 221, 140, 0.901) 0%, 
        rgba(208, 235, 200, 0.901) 50%,
        rgba(226, 244, 220, 0.901) 100%);
}

#skill {
    grid-area: skill;
    border: 1px solid white;
    border-radius: 0.5rem;
    background: rgb(211, 253, 166);
    background: linear-gradient(90deg, 
        rgba(159, 221, 140, 0.901) 0%, 
        rgba(208, 235, 200, 0.901) 50%,
        rgba(226, 244, 220, 0.901) 100%);
}

#extra {
    grid-area: extra;
    border: 1px solid white;
    border-radius: 0.5rem;
    background: rgb(211, 253, 166);
    background: linear-gradient(90deg, 
        rgba(159, 221, 140, 0.901) 0%, 
        rgba(208, 235, 200, 0.901) 50%,
        rgba(226, 244, 220, 0.901) 100%);
}

@media (400px <= width <= 725px) {
    #bento_box {
        padding: 1rem;

        display: grid;
        gap: 0.5rem;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: 2fr repeat(2, 1fr);
    
        grid-template-areas:
            "work work work"
            "hero hero hero"
            "ts ts ai"
            "ts ts ai"
            "skill extra extra"
            "skill extra extra"
            "skill extra extra";
    }
}


@media (701px <= width <= 1200px) {
    #bento_box {
        padding: 1rem;

        display: grid;
        gap: 0.5rem;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr 2fr repeat(2, 1fr);
    
        grid-template-areas:
            "ai ts work work"
            "ai hero hero skill"
            "ai hero hero skill"
            "extra extra extra skill"
    }
}

@media (width < 400px) {
    #bento_box {
        padding: 1rem;

        display: grid;
        gap: 0.5rem;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: 1fr;
    
        grid-template-areas:
            "hero"
            "work"
            "ts"
            "ai"
            "skill"
            "extra"
    }
}